<div class="page-pagenotfound">
  <div class="page-pagenotfound-inner">
    <h1 class="pnf-title color-primary">{{ 'general.404.title' | t }}</h1>
    <div class="pnf-text">{{ 'general.404.subtext' | t }}</div>
    <div class="pnf-btn">
      <a href="{{ routes.root_url }}" class="pnf-btn-link">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </div>
  </div>
</div>